/* cart page */ 
.cart-control {
  width: 49%;
  display: inline-block;
  text-align: left;
}
#cart-form br {
  display: none;
}
#heading511_20230329 {
	display: none;
}
h1#lei-location-header {
  color: white;
  line-height: 1em;
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 20em;
  text-shadow: 0em 0em 1em black;
}
#cart-form {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 60em;
    width: 100%;
};
/* cart page */ 
.cart-control {
  width: 49%;
  display: inline-block;
  text-align: left;
}
#cart-form .col-md-12.col-lg-4.order-0.order-md-0{
    max-width: 100%;
}
#cart-form .col-md-12.col-lg-4.order-0.order-md-0 {
	max-width: 100%;
	padding: 0;
}
#checkout-section-header, #order-details-header, .title, #totals-header{
  font-size: 3em;
  font-weight: lighter !important;
  color: #5e052b;
  padding: 0.5em;
  /*! line-height: 0em; */
  text-align: center;
}
.terms-scroll-box {
  max-width: 62em;
  margin: 0 auto;
  width: 95%;
  background: #ffe5f4;
  padding: 4em 6em;
  line-height: 2em;
  text-align: justify;
}
#cart-hero{
    background: white;
    background-image: url("../images/aboutleigreetings.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 16em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
}
#cart-hero h2 {
    font-size: 2em;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 0em 0em 0.5em black;
    margin-bottom: 1.5em;
}
.material-symbols-outlined {
    font-size: 1em;
}
#checkout-section {
    background: #ffe5f4;
    padding: 3em;
    height: auto;
    display: block;
}
#cart-edit-bottom{
    background: #ffe5f4;
    padding: 3em;
}

#cart-edit-bottom p {
  display: inline-block;
  padding: 0.5em;
  font-size: 1.35em;
  text-align: center;
  vertical-align: top;
}
#cart-edit-bottom span {
  display: block;
  font-size: 0.75em;
  max-width: 6em;
  line-height: 1.33em;
}

#goToCheckout .material-symbols-outlined {
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
}
#goToCheckout p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
#cart-bottom {
  background: #ffe5f4;
  padding: 1em;
}
#title-1 {
  font-size: 2em;
  text-shadow: none;
  color: #333;
}
td {
	width: 33;
	width: 33.3%;
}
#checkout {
	margin: 0 auto;
	display: block;
}
@media(max-width: 800px){
  .cart-control{
    width: 100%;
    display: block;
    text-align: center;
  }
  .numberSpinner{
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 4em;
    overflow: hidden;
    transform: scaleY(-1);
    background-color: #5e052b;
  }
  .numberMinus .material-symbols-outlined,
  .numberPlus .material-symbols-outlined{
  transform: rotate(90deg);
  }
  .numberSpinner section{
    display: block;
    transform: scaleY(-1);
    background: white;
  }
  #checkout-section .container {
  display: block;
  align-items: center;
  column-count: 1;
  height: auto;
}
  #checkout-section .container label,
  #checkout-section .container input{
    display:inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
	margin-left: 0;
	  margin-right: 0;
  }
  .terms-scroll-box{
    padding: 3em;
  }
}
@media(max-width:533px){
  #checkout-section .container label,
  #checkout-section .container input{
    display:inline-block;
    width: auto;
    vertical-align: middle;
    min-width: auto;
    width: 100%;
    text-align: center;
    margin: 0.5em auto;
  }  
}
@media(max-width:450px){
  #cart-hero h2{
    font-size: 2.25em;
  }
  #checkout-section-header, #order-details-header, .title, #totals-header{
    font-size: 2em;
  }
}
h5.mb-0 button {
  display: none !important;
}
.price-n span {
	color: #8800004a;
	text-decoration-line: line-through;
}

.maincart-form {
	display: block;
}

.maincart-form label {
	font-size: 1em;
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
	color: #5e052b;
	margin-left: 1em;
	line-height: 1em !important;
	width: 100%;
}

.maincart-form .numberSpinner label.error {
	display: none !important;
}

.maincart-form input[type=text],
.maincart-form input[type=email],
.maincart-form input[type=date],
.maincart-form input[type=submit],
.maincart-form textarea,
.maincart-form select {
	width: 100%;
	max-width: 25em;
  border: 2px solid #a92f64;
	margin: 1em;
	padding: 0.5em;
}

.maincart-form button:not(.numberPlus, .numberMinus) {
	padding: 10px 33px;
	background-color: #a92f64;
	color: #fff;
	border: none;
	border-radius: 2em;
	text-transform: capitalize;
	display: inline-block;
	margin: 0.25em;
}
.maincart-form .numberSpinner{
  text-align: center;
}

@media(max-width:938px) {
	.maincart-form {
		padding: 4em 0em;
	}
	#checkout-section-header, #order-details-header, .title, #totals-header{
    padding: 0;
}
@media(max-width:500px) {

	.maincart-form input[type="text"],
	.maincart-form input[type="email"],
	.maincart-form input[type="date"],
	.maincart-form input[type="submit"],
	.maincart-form textarea,
	.maincart-form select {
		width: 90%;
		max-width: 20em;
	}
}
